#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.indexReviews{
    display: flex;
    align-items: center;
}

p#reviewsNumber {
    font-size: 1.5rem;
}

.navbarphoto{
    width: 2rem;
    height: 2rem ;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    margin-top: 4px;
}

.reviewPhoto{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.profilePicture{
    width: 100%;
    height: 300px;
}

.noMatch {
    text-align: center;
    margin: 2rem auto;
}

.carousel{
    max-height: 361px;
}

.carousel img{
    height: 361px;
}

.card img {
    max-height: 352px;
}

.userInfo{
    font-size: 1.3rem;
}

.userInfo span {
    font-weight: bold;
}

@media screen and (max-width: 768px){
    #cluster-map{
        max-height: 60vh;
    }

    .navbarphoto{
        display: none;
    }
}